<link href="<%= ModCollection.public_path('modviewer/static/css/main.5ef764d9.css') %>" rel="stylesheet">
<div id="container" style="min-width: 1300px">
  <div id="mod-file-viewer"></div>
</div>
<script src="<%= ModCollection.public_path('modviewer/static/js/brainbrowser.volume-viewer.min.js') %>"></script>
<script>
<% files = @userfile.list_files.map { |f| {
  :fileName => File.basename(f.name),
  :url => "#{@userfile.id}/file_collection_content/#{File.basename(f.name)}"
}} %>
var files = <%= files.to_json.html_safe %>;
console.log(files);
window.MODData = {};
window.MODData.fileURLs = files;

window.MODData.tomographyPointsURLs = [
  "<%= ModCollection.public_path('modviewer/static/data/atlas/ETCgrid.txt') %>",
  "<%= ModCollection.public_path('modviewer/static/data/atlas/ETCBGgrid.txt') %>"
];

window.MODData.atlasURLs = {
  volume: "<%= ModCollection.public_path('modviewer/static/data/atlas/mni_icbm152_t1_tal_nlin_sym_09c.nii') %>",
  mask: "<%= ModCollection.public_path('modviewer/static/data/atlas/mni_icbm152_gm_tal_nlin_sym_09c.nii') %>"
};

window.MODData.brainbrowserColormapURL = "<%= ModCollection.public_path('modviewer/static/color-maps/gray-scale.txt') %>"
</script>
<script src="<%= ModCollection.public_path('modviewer/static/js/main.17436d81.js') %>"></script>
